.avatar-img {
    width: 109px;
    height: 114px;
    border-radius: 14px;
    margin: 0px 9px 0px 9px;
    filter: blur(3px);
}

.logo {
    background: #D6E5FA;
    border-radius: 76px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#loading-spinner {
    height: 100px;
    width: 100px;
}

#avatar-grid-container {
    min-height: 680px;
}