.carousels-item {
    background: #D6E5FA;
    border-radius: 50px;
    height: 223px;
    width: 211px;
    color: #130335;
    cursor: pointer;
}

.carousels-item:hover {
    background: rgba(214, 229, 250, 0.75);
    transition: 0.25s;
}