.about-us-section {
    background: #FFF9F9 !important;
}

.about-us-button {
    width: 160px;
    height: 40px;
}

.about-us-img {
    border-radius: 38px;
}

.icon-container {
    height: 80px;
    margin-top: 20px;
}

.accordion-button:not(.collapsed) {
    color: rgba(215, 127, 161, 0.65) !important;
    background-color: white;
    box-shadow: none;
    outline: none;
}

.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
}

.follow-link {
    width: 50px;
    height: 50px;
    color: black;
}

.blue-icon-hover:hover {
    color: #1e90ff;
    transition: 0.25s;
}

.purple-icon-hover:hover {
    color: #7b68ee;
    transition: 0.25s;
}

.red-icon-hover:hover {
    color: #7b68ee;
    transition: 0.25s;
}

.red-icon-hover:hover {
    color: #dc143c;
    transition: 0.25s;
}

.why-donutly-conatiner:hover {
    background: rgba(255, 249, 249, 0.6) !important;
    transition: 0.25s;
}
