.App {
    font-family: 'Nunito', sans-serif, "Liberation Sans";
    text-align: center;
}

.app-button {
    background: #D6E5FA;
    border: #D6E5FA;
    color: #130335;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    font-weight: bold;
    font-size: 14px;
    transition: 0.25s;
}

.app-button:hover {
    background: rgba(186, 171, 218, 0.75);
    color: white;
}

.form-control:focus {
  outline: solid rgba(215, 127, 161, 0.65) !important;
  box-shadow: none !important;
  border: 1px solid #ced4da !important;
}

.form-select:focus {
  outline: solid rgba(215, 127, 161, 0.65) !important;
  box-shadow: none !important;
  border: 1px solid #ced4da !important;
}

h1 {
    color: #130335;
}

.bg-light-powder {
  background: #FFF9F9 !important;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}

.follow-link {
  width: 50px;
  height: 50px;
  color: black;
}

.follow-link:hover {
  color: black;
}

.blue-icon-hover:hover {
  color: #1e90ff;
  transition: 0.25s;
}

.purple-icon-hover:hover {
  color: #7b68ee;
  transition: 0.25s;
}

.red-icon-hover:hover {
  color: #dc143c;
  transition: 0.25s;
}

.gray-icon-hover:hover {
  color: gray;
  transition: 0.25s;
}

.hidden-card-border {
  -webkit-box-shadow: 2px 1px 25px -6px rgba(231, 21, 21, 1);
  -moz-box-shadow: 2px 1px 25px -6px rgba(231, 21, 21, 1);
  box-shadow: 2px 1px 25px -6px rgba(231, 21, 21, 1);
  border: 1px solid rgba(231, 21, 21, 1);
}

.unhidden-card-border {
  -webkit-box-shadow: 3px 7px 17px -4px rgba(223, 223, 223, 1);
  -moz-box-shadow: 3px 7px 17px -4px rgba(223, 223, 223, 1);
  box-shadow: 3px 7px 17px -4px rgba(223, 223, 223, 1);
}

.modal-close-xmark {
  height: 25px;
  width: 25px;
  color: #7e7b7b;
  cursor: pointer;
}

.modal-close-xmark:hover {
  color: #403e3e;
}

.form-confirm-button {
  width: 100px;
  height: 40px;
  background: #BAABDA;
  border: #BAABDA;
  margin-top: 30px;
}