.app-navbar {
    background: rgba(215, 127, 161, 0.65) !important;
}

.nav-button {
    width: 170px;
    height: 50px;
    background: #BAABDA;
    border: #BAABDA;
    font-size: 20px;
}

.nav-button-small {
    width: 65px;
}

.modal-button {
    width: 75px;
    height: 40px;
    background: #BAABDA;
    border: #BAABDA;
}

.nav-button:hover, .nav-button-small:hover,
.nav-button:focus, .nav-button-small:focus {
    background: rgba(186, 171, 218, 0.75);
}
