.app-navbar {
    background: rgba(215, 127, 161, 0.65) !important;
}

.nav-button {
    width: 220px;
    height: 60px;
    left: 736px;
    top: 15px;
    background: #BAABDA;
    border: #BAABDA;
    color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    font-weight: bold;
    font-size: 20px;
}

.nav-button:hover {
    background: rgba(186, 171, 218, 0.75);
}

.nav-button:focus {
    background: rgba(186, 171, 218, 0.75);
}