.charity-section {
    background: #FFF9F9 !important;
}

.charity-button {
    width: 120px;
    height: 40px;
    background: #D6E5FA;
    border: #D6E5FA;
    color: #130335;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    font-weight: bold;
    font-size: 14px;
}

.charity-button:hover {
    background: rgba(186, 171, 218, 0.75);
}

.charity-button:focus {
    background: rgba(186, 171, 218, 0.75);
}