.user-settings-card {
    min-height: 2050px;
    border-radius: 20px !important;
}

.user-settings-smaller-card {
    border-radius: 20px !important;
}

.social-icon {
    width: 25px;
    height: 25px;
}